<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        nav {
            margin-left: 50px;
            font-family: "Grava Display", serif;
        }

    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<br>

<nav>
    <a href="/mobileshop/" style="color: black; text-decoration: none;"><span><i class="fas fa-home home-icon"></i> Головна</span></a>
</nav>

<h3>Увійдіть в свій обліковий запис</h3>
<br>
<div style="font-family: 'Grava Display', serif; max-width: 300px; margin: auto; padding: 20px; border: 1px solid #ccc;
 border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <form novalidate name="f" method="post" action="/process_login" style="display: flex; flex-direction: column;">
        <label for="phoneNumber">Введіть номер телефону:</label>
        <input type="text" name="username" id="phoneNumber" minlength="12" maxlength="12" required
               style="margin-bottom: 10px; padding: 5px;">

        <label for="password">Введіть пароль:</label>
        <input type="password" name="password" id="password" minlength="4" maxlength="10" required
               style="margin-bottom: 10px; padding: 5px;">

        <input type="submit" value="Вхід"
               style="background-color: green; color: white; padding: 8px; border: none; cursor: pointer; border-radius: 5px; font-size: 16px; font-family: Grava Display, serif">

        <div th:if="${param.error}" style="color: red; margin-top: 10px;">
            Невірний номер телефону або пароль
        </div>
    </form>
</div>
<br><br>

<div style="font-family: 'Grava Display', serif; max-width: 300px; margin: auto; padding: 20px; border: 1px solid #ccc;
 border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); display: flex; flex-direction: column; align-items: center;">
    <h3>Або</h3>
    <br>
    <button type="submit" style="background-color: green; width: 100%; color: white; padding: 8px; border: none; cursor: pointer;
    border-radius: 5px"><a href="/mobileshop/auth/registration" style="color: white; font-size: 16px; text-decoration: none;">Зареєструйтесь</a></button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const phoneInput = document.getElementById('phoneNumber');

        // Устанавливаем префикс 380 при загрузке страницы, если поле пустое
        if (!phoneInput.value || !phoneInput.value.startsWith('380')) {
            phoneInput.value = '380';
        }

        phoneInput.addEventListener('input', function () {
            if (!phoneInput.value.startsWith('380')) {
                phoneInput.value = '380';
            }
        });
    });
</script>

</body>
</html>