<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div id="header" class="flex-container">
    <div id="leftHeader" class="sidebar">
        <h1>Mobile Shop</h1>
        <p>Ваш магазин смартфонів</p>
    </div>
    <div class="logo">
        <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
    </div>
    <div id="rightHeader" class="sidebar">
        <ul>
            <li><a href="/mobileshop/aboutus">Про нас</a></li>
            <li><a href="/mobileshop/contacts">Контакти</a></li>
            <li><a href="/mobileshop/delivery">Умови доставки</a></li>
        </ul>
    </div>
</div>
<h3>Підтвердьте свій обліковий запис</h3>
<div style="font-family: 'Grava Display', serif; max-width: 300px; margin: auto; padding: 20px; border: 1px solid #ccc;
 border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
<!--    <form novalidate name="f" method="post" action="/process_login" style="display: flex; flex-direction: column;">-->
<!--&lt;!&ndash;        <label for="username">Введіть ім'я користувача:</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" name="username" id="username" minlength="2" maxlength="20" required&ndash;&gt;-->
<!--&lt;!&ndash;               style="margin-bottom: 10px; padding: 5px;">&ndash;&gt;-->
<!--        <label for="phoneNumber">Введіть ім'я користувача:</label>-->
<!--        <input type="text" name="phoneNumber" id="phoneNumber" minlength="2" maxlength="20" required-->
<!--               style="margin-bottom: 10px; padding: 5px;">-->

<!--        <label for="password">Введіть пароль:</label>-->
<!--        <input type="password" name="password" id="password" minlength="4" maxlength="10" required-->
<!--               style="margin-bottom: 10px; padding: 5px;">-->

<!--        <input type="submit" value="Вхід"-->
<!--               style="background-color: green; color: white; padding: 8px; border: none; cursor: pointer; border-radius: 5px;">-->

<!--        <div th:if="${param.error}" style="color: red; margin-top: 10px;">-->
<!--            Неправильне ім'я або пароль-->
<!--        </div>-->
<!--    </form>-->
    <form novalidate name="f" method="post" action="/process_login" style="display: flex; flex-direction: column;">
        <label for="phoneNumber">Введіть номер телефону:</label>
        <input type="text" name="username" id="phoneNumber" minlength="12" maxlength="12" required
               style="margin-bottom: 10px; padding: 5px;">

        <label for="password">Введіть пароль:</label>
        <input type="password" name="password" id="password" minlength="4" maxlength="10" required
               style="margin-bottom: 10px; padding: 5px;">

        <input type="submit" value="Вхід"
               style="background-color: green; color: white; padding: 8px; border: none; cursor: pointer; border-radius: 5px;">

        <div th:if="${param.error}" style="color: red; margin-top: 10px;">
            Невірний номер телефону або пароль
        </div>
    </form>
</div>

<br><br>
<hr>
<br>
<p>
    <button type="submit" class="btn-submit"><a href="/mobileshop/">Повернутись на головну сторінку</a></button>
</p>
</body>
</html>