<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<br>

<nav style="margin-left: 50px;">
    <a href="/mobileshop/" style="color: black; text-decoration: none;"><span><i class="fas fa-home home-icon"></i> Головна</span></a>
</nav>

<h2>Заповніть форму реєстрації</h2>
<br>

<div style="font-family: 'Grava Display', serif; max-width: 450px; margin: auto; padding: 20px;
border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <form th:method="POST" th:action="@{/mobileshop/auth/registration}" th:object="${person}"
          style="display: flex; flex-direction: column; align-items: flex-end;" novalidate>

        <div>
            <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                 style="color: red; font-size: 14px; margin-bottom: 5px; text-align: right;">
                Username Error
            </div>
            <label for="userName">Введіть ім'я користувача</label>
            <input type="text" th:field="*{userName}" id="userName" placeholder="цифри, літери, символи"
                   minlength="2" maxlength="20" required style="margin-bottom: 10px; padding: 5px;
                   border: 2px solid #ccc; border-radius: 5px;">
        </div>

        <div>
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                 style="color: red; font-size: 14px; margin-bottom: 5px; text-align: right;">
                Помилка номеру телефону
            </div>
            <label for="phoneNumber">Введіть номер телефону</label>
            <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber"
                   pattern="380\d{9}" placeholder="380XXXXXXXXX" required value="380"
                   style="margin-bottom: 10px; padding: 5px; border: 2px solid #ccc; border-radius: 5px;">
        </div>

        <div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                 style="color: red; font-size: 14px; margin-bottom: 5px; text-align: right;">
                Password Error
            </div>
            <label for="password">Придумайте пароль</label>
            <input type="password" th:field="*{password}" id="password" placeholder="4-10 символів"
                   minlength="4" maxlength="10" required style="margin-bottom: 10px; padding: 5px;
                   border: 2px solid #ccc; border-radius: 5px;">
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const phoneInput = document.getElementById('phoneNumber');

                // Устанавливаем префикс 380 при загрузке страницы, если поле пустое
                if (!phoneInput.value || !phoneInput.value.startsWith('380')) {
                    phoneInput.value = '380';
                }

                phoneInput.addEventListener('input', function () {
                    if (!phoneInput.value.startsWith('380')) {
                        phoneInput.value = '380';
                    }
                });
            });
        </script>
        <div>
            <input type="submit" class="btn-submit" value="Зареєструватись">
        </div>
    </form>
</div>
<br>
<!--<p>-->
<!--    <button type="submit" class="btn-submit"><a href="/mobileshop/">Повернутись на головну сторінку</a></button>-->
<!--</p>-->
</body>
</html>