<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<div class="order-container-admin">
    <h3 style="text-align: center; margin-bottom: 20px;">Замовлення № <span th:text="${order.getId()}"></span></h3>
    <div style="display: flex; gap: 20px; align-items: center; font-size: 18px; margin-bottom: 20px;">
        <img th:src="${order.getImagePath()}" alt="Фото телефону" style="max-height: 270px; border-radius: 5px;">
        <div style="flex: 1;">
            <strong>Виробник: </strong><span th:text="${order.getBrand()}"></span>
            <br>
            <strong>Модель:</strong> <span th:text="${order.getModel()}"></span>
            <br>
            <strong>Вбудована пам'ять: </strong> <span th:text="${order.getMemorySize()}"></span> GB
            <br><br>
            <strong>Кількість:</strong> <span th:text="${order.getQuantity()}"></span> шт.
            <br>
            <strong>Загальна сума:</strong> <span
                th:text="${#numbers.formatInteger(order.getPrice(), 0, 'DEFAULT')}"></span> ₴
            <br>
            <hr>
            <strong>Ім'я покупця:</strong> <span th:text="${order.getPersonName()}"></span>
            <br>
            <strong>Телефон покупця:</strong> <span th:text="${order.getPersonPhone()}"></span>
            <br><br>
            <strong>Коментар до замовлення:</strong> <span th:text="${order.getPersonComment()}"></span>
            <br><br>
            <strong>Точка видачі:</strong> <span th:text="${order.getPoint()}"></span>
            <br>
            <strong>Дата замовлення:</strong> <span
                th:text="${#dates.format(order.getDate(), 'dd.MM.yyyy - HH:mm')}"></span>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 30px;">
        <form th:method="DELETE" th:action="@{/mobileshop/delete/order/{id}(id=${order.getId()})}"
              style="flex: 1; display: flex; flex-direction: column-reverse; align-items: center;">
            <label for="confirmDelete" style="margin-top: 10px;">
                <input type="checkbox" id="confirmDelete" onchange="toggleDeleteButton()"> Підтверджую видалення
            </label>
            <input id="deleteButton" type="submit" value="Видалити замовлення" disabled
                   style="padding: 10px 20px; background-color: #d3d3d3; border: none; border-radius: 5px; color: #fff; cursor: not-allowed; font-size: 15px;">
        </form>
    </div>
</div>
<br>
<p>
    <a class="button" href="/mobileshop/admin_page">Сторінка адміністратора</a>
</p>

<script>
    function toggleDeleteButton() {
        const deleteButton = document.getElementById('deleteButton');
        const confirmDelete = document.getElementById('confirmDelete');

        if (confirmDelete.checked) {
            deleteButton.disabled = false;
            deleteButton.style.backgroundColor = 'red';
            deleteButton.style.cursor = 'pointer';
        } else {
            deleteButton.disabled = true;
            deleteButton.style.backgroundColor = '#d3d3d3';
            deleteButton.style.cursor = 'not-allowed';
        }
    }
</script>

</body>
</html>