<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Телефон</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <h3>За кодом <a th:text="${phone.getId()}">VALUE</a> знайдено телефон:</h3>
    <table>
        <tr>
            <td style="width: 220px; text-align: center;">
                <img th:src="${phone.imagePath}" alt="Фото телефону" style="max-width: 200px;">
            </td>
            <td style="padding-left: 20px;">
                Код товару: <a th:text="${phone.getId()}">VALUE</a>
                <br><br>
                Виробник: <a th:text="${phone.getBrand()}">VALUE</a>
                <br>
                Модель: <a th:text="${phone.getModel()}">VALUE</a>
                <br>
                Вбудована пам'ять: <a th:text="${phone.getMemorySize()}">VALUE</a> Gb
                <br>
                Ціна: <b><a th:text="${phone.getPrice()}">VALUE</a></b> грн.
            </td>
        </tr>
    </table>
</nav>
<hr>
<br>
<p>
    <button>
        <a style="color: blue" th:href="@{/mobileshop/{id}/edit_phone(id=${phone.getId()})}">Оновити</a>
    </button>
</p>
<br><br>
<div th:align="center">
    <form th:method="DELETE" th:action="@{/mobileshop/delete_phone/{id}(id=${phone.getId()})}">
        <input style="color: red" type="submit" value="Видалити телефон">
    </form>
</div>
<br><br>
<p>
    <button><a style="color: forestgreen" href="/mobileshop/admin_page">Сторінка адміністратора</a></button>
</p>
</body>
</html>
