<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сторінка замовлень</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<nav>
    <h2>Сторінка замовлень (сортування за датою)</h2>
    <p>
        <a class="button" href="/mobileshop/admin_page">Сторінка адміністратора</a>
    </p>
    <p>Виберіть замовлення за номером</p>
    <table class="order-table">
        <thead>
        <tr>
            <th class="header-text">Номер замовлення</th>
            <th class="header-text">Товар</th>
            <th class="header-text">Кількість</th>
            <th class="header-text">Ціна за одиницю</th>
            <th class="header-text">До сплати</th>
            <th class="header-text">Дата та час замовлення</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="orders : ${order}">
            <td>
                <a class="order-link" th:href="@{/mobileshop/{id}/order(id=${orders.id})}" th:text="${orders.id}"></a>
            </td>
            <td>
                <span th:text="${orders.brand}"></span> <span th:text="${orders.model}"></span>
            </td>
            <td>
                <span th:text="${orders.getQuantity()}"></span>
            </td>
            <td>
                <span th:if="${orders.quantity > 0}"
                      th:text="${#numbers.formatDecimal(orders.price / orders.quantity, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
                <span th:unless="${orders.quantity > 0}">-</span>
            </td>
            <td>
                <span th:text="${#numbers.formatInteger(orders.getPrice(), 0, 'DEFAULT')}"></span>
            </td>
            <td>
                <span th:text="${#dates.format(orders.getDate(), 'dd.MM.yyyy - HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</nav>
<br>
<p>
    <a class="button" href="/mobileshop/admin_page">Сторінка адміністратора</a>
</p>
</body>
</html>
