<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Створено новий телефон</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>

<div class="phone-container"
     style="max-width: 600px; margin: 30px auto; border: 1px solid #ccc; border-radius: 10px; padding: 20px; box-shadow: 0 4px 6px rgba(0,0,0,0.2); background-color: beige;">
    <h3 style="text-align: center; margin-bottom: 20px;">Було створено новий телефон:</h3>

    <div style="display: flex; gap: 20px; align-items: center; margin-bottom: 20px;">
        <img th:src="${phone.imagePath}" alt="Фото телефону" style="max-height: 200px; border-radius: 5px;">
        <div style="flex: 1;">
            <p style="text-align: left"><strong>Код товара: </strong><span th:text="${phone.getId()}"></span></p>
            <p style="text-align: left"><strong>Виробник: </strong><span th:text="${phone.getBrand()}"></span></p>
            <p style="text-align: left"><strong>Модель: </strong><span th:text="${phone.getModel()}"></span></p>
            <p style="text-align: left"><strong>Вбудована пам'ять: </strong> <span
                    th:text="${phone.getMemorySize()}"></span> Гб</p>
            <p style="text-align: left"><strong>Ціна: </strong><span
                    th:text="${#numbers.formatInteger(phone.getPrice(), 0, 'DEFAULT')}"></span> грн.</p>
        </div>
    </div>

    <p>
        <a class="button" href="/mobileshop/admin_page">Сторінка адміністратора</a>
    </p>
</div>

</body>
</html>
