<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile shop</title>
    <link rel="stylesheet" type="text/css" href="/css/fragments.css">
</head>
<body>

<div th:fragment="brand-sidebar" class="brand-sidebar">
    <div class="brand-row">
        <div class="brand-item">
            <a href="/mobileshop/phones/apple">
                <img src="/img/site/iphone.png" width="30" height="30" alt="Apple">
            </a>
            <p><a href="/mobileshop/phones/apple">Apple</a></p>
        </div>

        <div class="brand-item">
            <a href="/mobileshop/phones/xiaomi">
                <img src="/img/site/mi.png" width="30" height="30" alt="Xiaomi">
            </a>
            <p><a href="/mobileshop/phones/xiaomi">Xiaomi</a></p>
        </div>

        <div class="brand-item no-border">
            <a href="/mobileshop/phones/samsung">
                <img src="/img/site/samsung.png" width="120" height="29" alt="Samsung">
            </a>
            <p><a href="/mobileshop/phones/samsung">Samsung</a></p>
        </div>
    </div>
    <hr class="brand-divider">
</div>
</body>
</html>