<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile shop</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<!--<div th:fragment="header">-->
<!--    <div id="header" class="flex-container" style="gap: 50px;">-->
<!--        <div id="leftHeader" class="sidebar">-->
<!--            <a href="/mobileshop/" title="На головну">-->
<!--                <h1>Mobile Shop</h1>-->
<!--                <p>Ваш магазин смартфонів</p>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="search-container">-->
<!--            <form th:action="@{/mobileshop/search}" method="get" class="search-form">-->
<!--                <label>-->
<!--                    <input type="text"-->
<!--                           name="q"-->
<!--                           placeholder="Пошук за моделлю..."-->
<!--                           style="padding: 8px; border: 1px solid #ccc; border-radius: 4px 0 0 4px;">-->
<!--                </label>-->
<!--                <button type="submit"-->
<!--                        style="padding: 8px 12px; background-color: #4CAF50; color: white; border: none; border-radius: 0 4px 4px 0; cursor: pointer;">-->
<!--                    <i class="fa fa-search"></i>-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->

<!--        <div id="rightHeader" class="right-header">-->
<!--            <a href="/mobileshop/my-orders" title="Замовлення">-->
<!--                <i class="fa-solid fa-user-large"></i> Кабінет-->
<!--            </a>-->

<!--            <a href="/mobileshop/cart" class="cart-link">-->
<!--                <i class="fas fa-shopping-cart"></i>-->
<!--                <span th:if="${#ctx.containsVariable('cart') and cart.items.size() > 0}"-->
<!--                      th:text="${cart.items.size()}"-->
<!--                      class="cart-badge"></span>-->
<!--                <span>Кошик</span>-->
<!--            </a>-->

<!--            <a href="https://github.com/ViktorDiakonov">GitHub</a>-->
<!--            <a href="/mobileshop/contacts">Контакти</a>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<div th:fragment="header">
    <div id="header" class="flex-container">
        <div id="leftHeader" class="sidebar">
            <a href="/mobileshop/" title="На головну">
                <h1>Mobile Shop</h1>
                <p>Ваш магазин смартфонів</p>
            </a>
        </div>

        <div class="search-container">
            <form th:action="@{/mobileshop/search}" method="get" class="search-form">
                <input type="text" name="q" placeholder="Пошук за моделлю...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>

        <div id="rightHeader" class="right-header">
            <a href="/mobileshop/my-orders" title="Замовлення">
                <i class="fa-solid fa-user-large"></i> Кабінет
            </a>

            <a href="/mobileshop/cart" class="cart-link">
                <i class="fas fa-shopping-cart"></i>
                <span th:if="${#ctx.containsVariable('cart') and cart.items.size() > 0}"
                      th:text="${cart.items.size()}"
                      class="cart-badge"></span>
                <span>Кошик</span>
            </a>

            <a href="https://github.com/ViktorDiakonov">GitHub</a>
            <a href="/mobileshop/contacts">Контакти</a>
        </div>
    </div>
</div>

</body>
</html>