<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Mobile shop</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div th:fragment="header">
    <div id="header" class="flex-container">
        <div id="leftHeader" class="sidebar">
            <h1>Mobile Shop</h1>
            <p>Ваш магазин смартфонів</p>
        </div>
        <div class="logo">
            <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
        </div>
        <div id="rightHeader" class="sidebar">
            <ul>
                <li><a href="https://github.com/ViktorDiakonov">GitHub</a></li>
                <li><a href="/mobileshop/contacts">Контакти</a></li>
                <li>
                    <a href="/mobileshop/my-orders" title="Особистий кабінет">
                        <i class="fa-solid fa-user-large"></i>
                    </a>
                </li>
                <li>
                    <a href="/mobileshop/cart" class="cart-link">
                        <i class="fas fa-shopping-cart"></i>
                        <span th:if="${#ctx.containsVariable('cart') and cart.items.size() > 0}"
                              th:text="${cart.items.size()}"
                              class="cart-badge"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>