<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div id="header" class="flex-container">
    <div id="leftHeader" class="sidebar">
        <h1>Mobile Shop</h1>
        <p>Ваш магазин смартфонів</p>
    </div>
    <div class="logo">
        <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
    </div>
    <div id="rightHeader" class="sidebar">
        <ul>
            <li><a href="/mobileshop/aboutus">Про нас</a></li>
            <li><a href="/mobileshop/contacts">Контакти</a></li>
            <li><a href="/mobileshop/delivery">Умови доставки</a></li>
        </ul>
    </div>
</div>
<h3>Про нас:</h3>
<p>Я крутий інтернет-магазин смартфонів, мене написав на Spring Boot Java Developer Віктор :-).</p>
<p>Давай переходь на головну сторінку та роби замовлення, поки все не розкупили!</p>
<br><br>
<p>
    <button><a href="/mobileshop/" style="color: blue">Повернутися на головну сторінку</a></button>
</p>
</body>
</html>