<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Замовлення оформлено</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="order-container">
    <h2 style="color: green">Ваше замовлення прийнято!</h2>

<!--    <div th:each="order : ${orders}" class="order-item">-->
<!--        <img th:src="@{${order.imagePath}}" width="120">-->
<!--        <div class="order-info">-->
<!--            <p><strong>Виробник:</strong> <span th:text="${order.brand}"></span></p>-->
<!--            <p><strong>Модель:</strong> <span th:text="${order.model}"></span></p>-->
<!--            <p><strong>Кількість:</strong> <span th:text="${order.quantity}"></span> шт.</p>-->
<!--            <p><strong>Сума:</strong> <span th:text="${#numbers.formatInteger(order.price, 0, 'DEFAULT')}"></span> ₴</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <p class="buy-info">Замовлення отримувати за адресою: <a th:text="${order.getPoint()}">VALUE</a></p>-->
    <div th:each="order : ${orders}" class="order-item">
        <img th:src="@{${order.imagePath}}" width="120">
        <div class="order-info">
            <p><strong>Виробник:</strong> <span th:text="${order.brand}"></span></p>
            <p><strong>Модель:</strong> <span th:text="${order.model}"></span></p>
            <p><strong>Кількість:</strong> <span th:text="${order.quantity}"></span> шт.</p>
            <p><strong>Сума:</strong> <span th:text="${#numbers.formatInteger(order.price, 0, 'DEFAULT')}"></span> ₴</p>
            <p th:if="${order.personComment != null && !order.personComment.isEmpty()}">
                <strong>Коментар:</strong> <span th:text="${order.personComment}"></span>
            </p>
        </div>
    </div>
    <p class="buy-info">Замовлення отримувати за адресою: <span th:text="${orders[0].point}">VALUE</span></p>
    <p class="buy-info"><b style="color: green">Чекайте на дзвінок оператора на вказаний Вами номер</b></p>

    <p class="buy-info"><b style="color: green">Чекайте на дзвінок оператора</b></p>
</div>

<p>
    <a href="/mobileshop/" class="btn-submit">Повернутись на головну</a>
</p>
</body>
</html>