<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Замовлення оформлено</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="order-container">
    <h2 style="color: green">Ваше замовлення прийнято!</h2>
    <div th:each="order : ${orders}" class="order-item" style="display: flex; align-items: center; gap: 15px;">
        <img th:src="@{${order.imagePath}}" height="100" alt="Зображення товару">
        <div>
            <p th:text="${order.brand} + ' ' + ${order.model} + ' ' + ${order.getMemorySize()} +
            ' Gb (' + ${order.quantity} + ' шт.) - ' + ${#numbers.formatInteger(order.price, 0, 'DEFAULT')} + ' ₴'"></p>
        </div>
    </div>

    <h2>Сума до сплати:
        <span th:text="${#numbers.formatInteger(total, 0, 'DEFAULT')}"></span>₴
    </h2>
    <br>

    <p th:if="${order.personComment != null && !order.personComment.isEmpty()}">
        <strong>Коментар до замовлення:</strong> <span th:text="${order.personComment}" style="max-width: 200px"></span>
    </p>
    <br>

    <p class="buy-info">Замовлення отримувати за адресою: <span th:text="${orders[0].point}">VALUE</span></p>
    <br>

    <p class="buy-info"><b style="color: green">Чекайте на дзвінок оператора</b></p>
</div>

<p>
    <a href="/mobileshop/" class="btn-submit">Повернутись на головну</a>
</p>
</body>
</html>