<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакти</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<header>
    <table>
        <tbody>
        <tr>
            <td style="width: 190px">
                <h1>Mobile shop</h1>
                <p>Ваш магазин смартфонів</p>
            </td>
            <td>
                <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
            </td>
            <td>
                <ul>
                    <li><a href="/mobileshop/aboutus" style="color: blue">Про нас</a></li>
                    <li><a href="/mobileshop/contacts" style="color: blue">Контакти</a></li>
                    <li><a href="/mobileshop/delivery" style="color: blue; width: 180px">Умови доставки&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</header>
<h3>Контакти:</h3>
<p>Нашi магазини знаходяться за адресами:</p>
<table>
    <tbody>
    <tr>
        <td style="width:auto">
            <ul>
                <li>Київ, вул. Антоновича, 50 <small>( тел. 322-222-333 )</small></li>
                <li>Днiпро, вул. Магнітогорська, 1А <small>( тел. 322-333-444 )</small></li>
                <li>Одесса, вул. Дерибасiвська 3Д <small>( тел. 322-777-555 )</small></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<br><br>
<p>
    <button><a href="/mobileshop/" style="color: blue">Повернутися на головну сторінку</a></button>
</p>
</body>
</html>