<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Умови доставки</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div id="header" class="flex-container">
    <div id="leftHeader" class="sidebar">
        <h1>Mobile Shop</h1>
        <p>Ваш магазин смартфонів</p>
    </div>
    <div class="logo">
        <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
    </div>
    <div id="rightHeader" class="sidebar">
        <ul>
            <li><a href="/mobileshop/aboutus">Про нас</a></li>
            <li><a href="/mobileshop/contacts">Контакти</a></li>
            <li><a href="/mobileshop/delivery">Умови доставки</a></li>
        </ul>
    </div>
</div>
<h3>Умови доставки:</h3>
<p>На цей час можливий лише самовивіз за адресами наших магазинів.</p>
<p>Віктор працює вдень і вночі, щоб зробити сайт краще, але він один і все не встигає :-(</p>
<p>Ви будь ласка переходьте на головну сторінку сайту, робіть замовлення, а про решту не хвилюйтесь,
    ваше замовлення ми побачимо в кабінеті адміністратора.</p>
<br><br>
<p>
    <button><a href="/mobileshop/" style="color: blue">Повернутися на головну сторінку</a></button>
</p>
</body>
</html>