<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Умови доставки</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<header>
    <table>
        <tbody>
        <tr>
            <td style="width: 190px">
                <h1>Mobile shop</h1>
                <p>Ваш магазин смартфонів</p>
            </td>
            <td>
                <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
            </td>
            <td>
                <ul>
                    <li><a href="/mobileshop/aboutus" style="color: blue">Про нас</a></li>
                    <li><a href="/mobileshop/contacts" style="color: blue">Контакти</a></li>
                    <li><a href="/mobileshop/delivery" style="color: blue; width: 180px">Умови доставки&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</header>
<h3>Умови доставки:</h3>
<p>На даний момент доступний лише самовивіз за адресами наших магазинів.</p>
<p>Віктор працює вдень і вночі, щоб зробити сайт краще, але він один і все не встигає :-(</p>
<p>Ви будь ласка переходите на головну сторінку сайту, робіть замовлення, а про решту не хвилюйтеся,
    ваше замовлення ми побачимо в кабінеті адміністратора.</p>
<br><br>
<p>
    <button><a href="/mobileshop/" style="color: blue">Повернутися на головну сторінку</a></button>
</p>
</body>
</html>