<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все телефоны</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div id="header" class="flex-container">
    <div id="leftHeader" class="sidebar">
        <h1>Mobile Shop</h1>
        <p>Ваш магазин смартфонів</p>
    </div>
    <div class="logo">
        <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
    </div>
    <div id="rightHeader" class="sidebar">
        <ul>
            <li><a href="/mobileshop/aboutus">Про нас</a></li>
            <li><a href="/mobileshop/contacts">Контакти</a></li>
            <li><a href="/mobileshop/delivery">Умови доставки</a></li>
        </ul>
    </div>
</div>
<nav>
    <a href="/mobileshop/" style="color: black">Головна</a> >
</nav>
<nav>
    <table>
        <tbody>
        <tr>
            <td style="width: 200px; text-align: center; border-right: 1px solid black;">
                <a href="/mobileshop/phones/apple">
                    <img src="/img/site/iphone.png" style="text-align: center" width="30" height="30" alt="Apple">
                </a>
                <p><a href="/mobileshop/phones/apple">Apple</a></p>
            </td>

            <td style="width: 200px; text-align: center; border-right: 1px solid black;">
                <a href="/mobileshop/phones/xiaomi">
                    <img src="/img/site/mi.png" style="text-align: center" width="30" height="30" alt="Xiaomi">
                </a>
                <p><a href="/mobileshop/phones/xiaomi">Xiaomi</a></p>
            </td>

            <td style="width: 200px; text-align: center;">
                <a href="/mobileshop/phones/samsung">
                    <img src="/img/site/samsung.png" style="text-align: center" width="120" height="29" alt="Samsung">
                </a>
                <p><a href="/mobileshop/phones/samsung">Samsung</a></p>
            </td>
        </tr>
        </tbody>
    </table>
</nav>
<hr>
<div style="text-align: center; margin-bottom: 10px;">
    <button onclick="toggleSort()">Сортувати за ціною</button>
</div>

<div id="phones-container" class="grid-view">
    <div th:each="phones : ${phone}" class="phone-item">
        <a th:href="@{/mobileshop/phone/{id}(id=${phones.getId()})}">
            <img th:src="@{${phones.imagePath}}" alt="Фото телефону" style="max-height: 100px;">
            <div>
                <p>
                    <span th:text="${phones.getBrand()}">text</span>
                    <span th:text="${phones.getModel()}">text</span>
                    <br><b><span th:text="${phones.getPrice()}">text</span></b> ₴
                </p>
            </div>
        </a>
    </div>
</div>

<script>
    function toggleSort() {
        window.location.href = window.location.href.includes('sort=desc')
            ? window.location.href.replace('sort=desc', 'sort=asc')
            : window.location.href.includes('sort=asc')
                ? window.location.href.replace('sort=asc', 'sort=desc')
                : window.location.href + '?sort=asc';
    }
</script>
</body>
</html>