<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все телефоны</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<!--<div id="header" class="flex-container">-->
<!--    <div id="leftHeader" class="sidebar">-->
<!--        <h1>Mobile Shop</h1>-->
<!--        <p>Ваш магазин смартфонів</p>-->
<!--    </div>-->
<!--    <div class="logo">-->
<!--        <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>-->
<!--    </div>-->
<!--    <div id="rightHeader" class="sidebar">-->
<!--        <ul>-->
<!--            <li><a href="/mobileshop/aboutus">Про нас</a></li>-->
<!--            <li><a href="/mobileshop/contacts">Контакти</a></li>-->
<!--            <li><a href="/mobileshop/delivery">Умови доставки</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<div th:replace="~{fragments/header :: header}"></div>
<nav class="brand-nav">
    <div class="brand-item">
        <a href="/mobileshop/phones/apple">
            <img src="/img/site/iphone.png" alt="Apple">
            <p>Apple</p>
        </a>
    </div>
    <div class="brand-item">
        <a href="/mobileshop/phones/xiaomi">
            <img src="/img/site/mi.png" alt="Xiaomi">
            <p>Xiaomi</p>
        </a>
    </div>
    <div class="brand-item">
        <a href="/mobileshop/phones/samsung">
            <img src="/img/site/samsung.png" alt="Samsung">
            <p>Samsung</p>
        </a>
    </div>
</nav>
<hr>
<nav>
    <a href="/mobileshop/" style="color: black; text-decoration: none;">Головна</a>
    <span style="color: gray;"> &gt; </span>
    <span th:text="${selectedBrand}" style="font-weight: bold; color: black; font-family: Grava Display, serif;"></span>
</nav>
<div style="text-align: center; margin-bottom: 10px;">
    <button type="submit" class="btn-submit" onclick="toggleSort()">Сортувати за ціною</button>
</div>

<div id="phones-container" class="grid-view">
    <div th:each="phones : ${phone}" class="phone-item">
        <a th:href="@{/mobileshop/phone/{id}(id=${phones.getId()})}">
            <img th:src="@{${phones.imagePath}}" alt="Фото телефону" style="max-height: 100px;">
            <div>
                <p>
                    <span th:text="${phones.getBrand()}">text</span>
                    <span th:text="${phones.getModel()}">text</span>
                    <br><b><span th:text="${#numbers.formatInteger(phones.getPrice(), 0, 'DEFAULT')}">text</span></b> ₴
                </p>
            </div>
        </a>
    </div>
</div>

<script>
    function toggleSort() {
        window.location.href = window.location.href.includes('sort=asc')
            ? window.location.href.replace('sort=asc', 'sort=desc')
            : window.location.href.includes('sort=desc')
                ? window.location.href.replace('sort=desc', 'sort=asc')
                : window.location.href + '?sort=desc';
    }
</script>
</body>
</html>