<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mobile shop</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div id="header" class="flex-container">
    <div id="leftHeader" class="sidebar">
        <h1>Mobile Shop</h1>
        <p>Ваш магазин смартфонів</p>
    </div>
    <div class="logo">
        <a href="/mobileshop/"><img src="/img/site/logoheader.png" alt="logo"></a>
    </div>
    <div id="rightHeader" class="sidebar">
        <ul>
            <li><a href="/mobileshop/aboutus">Про нас</a></li>
            <li><a href="/mobileshop/contacts">Контакти</a></li>
            <li><a href="/mobileshop/delivery">Умови доставки</a></li>
        </ul>
    </div>
</div>
<div id="leftSidebar" style="border: skyblue 2mm solid">
    <p><b>Новинка iPhone 14 !</b></p>
    <a href="/mobileshop/phone/38"><img src="/img/site/iphone-14-pro-max-2.gif" alt="banner" width="200"
                                        height="220"></a>
</div>
<div id="rightSidebar" style="border: skyblue 2mm solid">
    <p>Отримуй інформацію
        <br>про:<br></p>
    <p><b>Акції</b></p>
    <p><b>Знижки</b></p>
    <p><b>Новинки</b></p>
    <p>пройди просту реєстрацію</p>
    <p>
        <button><a href="/mobileshop/auth/registration">Зареєструватись</a></button>
    </p>
</div>
<nav class="brand-nav">
    <div class="brand-item">
        <a href="/mobileshop/phones/apple">
            <img src="/img/site/iphone.png" alt="Apple">
            <p>Apple</p>
        </a>
    </div>
    <div class="brand-item">
        <a href="/mobileshop/phones/xiaomi">
            <img src="/img/site/mi.png" alt="Xiaomi">
            <p>Xiaomi</p>
        </a>
    </div>
    <div class="brand-item">
        <a href="/mobileshop/phones/samsung">
            <img src="/img/site/samsung.png" alt="Samsung">
            <p>Samsung</p>
        </a>
    </div>
</nav>
<hr>
<br>
<div id="phones-container" class="grid-view">
    <div th:each="phones : ${phone}" class="phone-item">
        <a th:href="@{/mobileshop/phone/{id}(id=${phones.id})}">
            <img th:src="@{${phones.imagePath}}" alt="Фото телефону" style="max-height: 100px;">
            <div>
                <p>
                    <span th:text="${phones.getBrand()}">text</span>
                    <br>
                    <span th:text="${phones.getModel()}">text</span>
                    <br>
                    <td th:text="${phones.memorySize}"></td>&nbsp;Gb
                    <br><b><span th:text="${#numbers.formatInteger(phones.getPrice(), 0, 'DEFAULT')}">text</span></b> ₴
                </p>
            </div>
        </a>
    </div>
</div>
</body>
</html>