<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Мои заказы</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Особистий кабінет</h1>

<!--<div sec:authorize="isAuthenticated()">-->
<!--    <p>Вітаю: <span th:each="order : ${orders}" th:text="${order.getPersonPhone()}"></span>!</p>-->
<!--</div>-->
<table border="1">
    <thead>
    <tr>
        <th>№ заказу</th>
        <th>Виробник</th>
        <th>Модель</th>
        <th>Вбудована пам'ять</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Дата замовлення</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.getId()}"></td>
        <td th:text="${order.getBrand()}"></td>
        <td th:text="${order.getModel()}"></td>
        <td th:text="${order.getMemorySize()}"></td>
        <td th:text="${order.getQuantity()}"></td>
        <td th:text="${order.getPrice()}"></td>
        <td th:text="${#dates.format(order.getDate(), 'dd.MM.yyyy - HH:mm')}"></td>
    </tr>
    </tbody>
</table>

<p><a href="/mobileshop/">На головну</a></p>
<p><a href="/mobileshop/logout">Вийти з облікового запису</a></p>
</body>
</html>
