<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Мои заказы</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Особистий кабінет</h1>

<div style="display: flex; justify-content: center; align-items: center; gap: 15px;">
    <a href="/mobileshop/" style="margin-right: 180px;" class="btn-submit">На головну</a>
    <a href="/mobileshop/logout" style="margin-left: 180px;" class="btn-submit">Вийти з облікового запису</a>
</div>

<div class="order-container" style="max-width: 700px">
    <h3>Історія замовлень:</h3>
    <div th:each="order : ${orders}" class="cart-item">
        <div>
            <p>
                <strong th:text="'№ ' + ${order.getId()}"></strong>
                <span th:text="' від ' + ${#dates.format(order.getDate(), 'dd.MM.yyyy')} + ' '"></span>
                <img th:src="@{${order.getImagePath()}}" height="50" style="vertical-align: middle;" alt="Фото товару">
                <span th:text="'  ' + ${order.getBrand()} + ' ' + ${order.getModel()} + ' ' + ${order.getMemorySize()}
                + ' Gb (' + ${order.getQuantity} + ' шт.) - '"></span>
                <strong th:text="${#numbers.formatInteger(order.getPrice * order.getQuantity, 0, 'DEFAULT')} + ' ₴'"></strong>
            </p>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; gap: 15px;">
    <a href="/mobileshop/" style="margin-right: 180px;" class="btn-submit">На головну</a>
    <a href="/mobileshop/logout" style="margin-left: 180px;" class="btn-submit">Вийти з облікового запису</a>
</div>

</body>
</html>
