<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Замовлення оформлено</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/brand-sidebar :: brand-sidebar}"></div>

<div class="order-container">
    <h2 style="color: green">Ваше замовлення прийнято!</h2>
    <br>

    <div class="phone-details">
        <img id="phoneImage" th:src="${order.getImagePath()}" alt="Фото телефону">
        <div class="phone-info">
            <p><strong>Виробник:</strong> <a th:text="${order.getBrand()}">VALUE</a></p>
            <p><strong>Модель:</strong> <a th:text="${order.getModel()}">VALUE</a></p>
            <p><strong>Вбудована пам'ять:</strong> <a th:text="${order.getMemorySize()}">VALUE</a> ГБ</p>
            <p><strong>Кількість:</strong> <a th:text="${order.getQuantity()}">VALUE</a> шт.</p>
            <br>
            <p><strong>Сума до сплати:</strong> <a th:text="${#numbers.formatInteger(order.getPrice(), 0, 'DEFAULT')}">VALUE</a>
                ₴</p>
        </div>
    </div>
    <br>

    <p th:if="${order.personComment != null && !order.personComment.isEmpty()}">
        <strong>Коментар до замовлення:</strong> <span th:text="${order.personComment}" style="max-width: 200px"></span>
    </p>
    <br>

    <p class="buy-info">Замовлення отримувати за адресою: <a th:text="${order.getPoint()}">VALUE</a></p>
    <br>

    <p class="buy-info"><b style="color: green">Чекайте на дзвінок оператора на вказаний Вами номер</b></p>
</div>
<br>

<p>
    <button type="submit" class="btn-submit"><a href="/mobileshop/">Повернутись на головну сторінку</a></button>
</p>

</body>
</html>