<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Телефон</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        .cart-icon {
            width: 30px; /* или нужный вам размер */
            height: 30px;
        }

        .icon-text-container {
            display: inline-flex;
            align-items: center;
            gap: 8px; /* Расстояние между текстом и иконкой */
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<nav class="brand-nav">
    <div class="brand-item">
        <a href="/mobileshop/phones/apple">
            <img src="/img/site/iphone.png" alt="Apple">
            <p>Apple</p>
        </a>
    </div>
    <div class="brand-item">
        <a href="/mobileshop/phones/xiaomi">
            <img src="/img/site/mi.png" alt="Xiaomi">
            <p>Xiaomi</p>
        </a>
    </div>
    <div class="brand-item">
        <a href="/mobileshop/phones/samsung">
            <img src="/img/site/samsung.png" alt="Samsung">
            <p>Samsung</p>
        </a>
    </div>
</nav>
<hr>
<nav>
    <a href="/mobileshop/" style="color: black; text-decoration: none;">Головна</a>
    <span style="color: gray;"> &gt; </span>
    <a th:href="@{/mobileshop/phones/{id}(id=${phone.getBrand().toLowerCase()})}"
       style="color: black; text-decoration: none;">
        <span th:text="${phone.getBrand()}"></span>
    </a>
    <span style="color: gray;"> &gt; </span>
    <span th:text="${phone.getModel()}"
          style="font-weight: bold; color: black; font-family: Grava Display, serif;"></span>
</nav>
<h3>Смартфон:</h3>
<div class="phone-container-show-phone">
    <div class="phone-image-show-phone">
        <img id="phoneImage-show-phone" th:src="${phone.imagePath}" alt="Фото телефону">
    </div>
    <div class="phone-details-show-phone">
        <p><strong>Код товару: </strong><a th:text="${phone.getId()}">VALUE</a></p>
        <br>
        <p><strong>Виробник: </strong><a th:text="${phone.getBrand()}">VALUE</a></p>
        <p><strong>Модель: </strong><a th:text="${phone.getModel()}">VALUE</a></p>
        <p><strong>Вбудована пам'ять: </strong><a th:text="${phone.getMemorySize()}">VALUE</a> Gb</p>
        <br>
        <p><strong>Ціна: </strong><a th:text="${#numbers.formatInteger(phone.getPrice(), 0, 'DEFAULT')}">VALUE</a> ₴</p>

        <form th:action="@{/mobileshop/cart/add/{id}(id=${phone.id})}" method="post">
            <button type="submit" class="btn-submit"
                    th:disabled="${cart != null && cart.containsItem(phone.id)}">
                <span th:if="${cart != null && cart.containsItem(phone.id)}">
                    У кошику <i class="fas fa-shopping-cart"></i>
                </span>
                <span th:unless="${cart != null && cart.containsItem(phone.id)}" class="icon-text-container">Додати в кошик
                    <img th:src="@{/img/site/photo-cart2.png}" alt="Додати в кошик" class="cart-icon">
                </span>
            </button>
        </form>
    </div>
</div>
<br>
<div class="form-group">
    <a th:href="@{/mobileshop/{id}/new_order(id=${phone.getId()})}" class="btn-submit">Швидке замовлення</a>
</div>

<div id="imageModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img id="modalImage" src="" alt="">
    </div>
</div>

<script>
    const phoneImage = document.getElementById("phoneImage-show-phone");
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");
    const closeBtn = document.querySelector(".close");

    phoneImage.addEventListener("click", function () {
        modal.style.display = "flex";
        modalImage.src = this.src;
    });

    closeBtn.addEventListener("click", function () {
        modal.style.display = "none";
    });

    modal.addEventListener("click", function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });
</script>
<script>
    document.querySelectorAll(".btn-submit").forEach(button => {
        button.addEventListener("click", function () {
            this.classList.add("btn-pressed");
        });
    });
</script>

</body>
</html>

